<div class="">
<form [formGroup]="myForm" class="full">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border"><b>Formulaire D'ajout Patient</b></legend>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
  <div class="container-controles">
  <mat-form-field class="full">
    <input matInput placeholder="nom" formControlName="nom" #nom>
    <mat-error *ngIf="nom.invalid && nom.touched">
      Ce champ est obligatoire
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full">
    <input matInput placeholder="prenom" formControlName="prenom" #prenom>
    <mat-error *ngIf="prenom.invalid && prenom.touched">
      Ce champ est obligatoire
    </mat-error>
  </mat-form-field>
    <mat-form-field class="full">
      <input matInput placeholder="ville" formControlName="ville"
      #ville>

    </mat-form-field>
    <mat-form-field>
      <mat-select #sexe placeholder="Sexe">
        <mat-option [value]="M">Homme</mat-option>
        <mat-option [value]="F">Femme</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="naissance" placeholder="Date de naissance">
      <mat-datepicker-toggle matSuffix [for]="naissance"></mat-datepicker-toggle>
      <mat-datepicker #naissance></mat-datepicker>
    </mat-form-field>
  </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container-controles">
        <mat-form-field class="full">
          <input type="number" matInput formControlName="numSecu"
          placeholder="Numéro sécurité sociale" #numSecu/>
        </mat-form-field>
      <mat-form-field class="full">
        <input type="number" matInput formControlName="numero"
               placeholder="Numéro de téléphone" #Num>
      </mat-form-field>
      <mat-form-field class="full">
        <input type="number" matInput formControlName="codePostal"
               placeholder="Code postal" #CP>
      </mat-form-field>
        <mat-form-field class="full">
          <input type="number" matInput formControlName="rue"
                 placeholder="Rue" #Rue>
        </mat-form-field>
        <mat-form-field class="full">
          <input type="number" matInput formControlName="etage"
                 placeholder="Etage" #Etage>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div id="gBtn">
    <button class="ajoutBouton" mat-raised-button color="primary" value="ajouter" [disabled]="myForm.invalid"
            (click)="ajoutPatient(nom.value,prenom.value,numSecu.value,sexe.value,naissance._datepickerInput.value,Etage.value,Num.value,Rue.value,CP.value,ville.value)">Ajouter
    </button>
    <button mat-raised-button color="warn" class="warnBouton" (click)="efface()">Effacer</button>
  </div>
  </fieldset>
</form>
</div>

