#btn{
  float: right;
  background-color: goldenrod;
  margin-left: 500px;
}
#Titre{
font-weight: bold;
  font-family: American Typewriter;
}
.avbar-brand{
  font-weight: bold;
}
.menu{
  background-color: beige;
}
#sec{
  font-weight: bold;
}
#ajout{
  font-weight: bold;
}
#inf{
  font-weight: bold;
}
