<div >
  <div class="col-md-6">
    <h3>1) Tableau des patients</h3>
  </div>
</div>
<p-dataTable [value]="cabinet?.patientsNonAffectes" emptyMessage="Aucun patient à afficher" [paginator]="true"
             [rows]="20"  [responsive]="true">
  <p-column field="nom" header="Nom" styleClass="text-center"
            [sortable]="true">
  </p-column>
  <p-column field="prenom" header="Prenom" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="numeroSecuriteSociale" header="Numéro Sec Sociale" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="adresse.ville" header="Adresse" styleClass="text-center"
            [sortable]="true"></p-column>
</p-dataTable>
<hr/>
<div class="col-md-6">
  <h3>2) Tableau des infirmiers</h3>
</div>
<p-dataTable [value]="cabinet?.infirmiers" emptyMessage="Aucun patient à afficher" [paginator]="true"
             [rows]="20"  [responsive]="true">
  <p-column field="id" header="Identifiant" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="nom" header="Nom" styleClass="text-center"
            [sortable]="true">
  </p-column>
  <p-column field="prenom" header="Prenom" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="adresse.ville" header="Adresse" styleClass="text-center"
            [sortable]="true"></p-column>
</p-dataTable>
