<div >
  <div class="title1">
    <h3><b> Tableau des patients</b></h3>
  </div>
</div>
<p-dataTable [value]="cabinet?.patientsNonAffectes" emptyMessage="Aucun patient à afficher"
             [rows]="10"  [responsive]="true" >
  <p-column field="nom" header="Nom" styleClass="text-center"
            [sortable]="true">
  </p-column>
  <p-column field="prenom" header="Prenom" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="numeroSecuriteSociale" header="Numéro Sec Sociale" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="adresse.ville" header="Adresse" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column header="Actions" styleClass="text-center">
    <ng-template pTemplate="body" let-patient="rowData">
      <div class="btn-group">
        <button type="button" class="btn btn-white btn-sm"
        (click)="afficherDialogModif(patient)"><i class="fa fa-pencil"></i>
        </button>
      </div>

    </ng-template>
  </p-column>
</p-dataTable>
<app-patient-dialog *ngIf="afficherDialogPatient"
                    [patient]="patientSelectionner" [afficherDialog]="afficherDialogPatient"
                    (onDialogHide)="onDialogHideOperation()">
</app-patient-dialog>
<hr/>
<div class="title2">
  <h3><b>Tableau des infirmiers</b></h3>
</div>
<p-dataTable [value]="cabinet?.infirmiers" emptyMessage="Aucun patient à afficher"
             [rows]="10"  [responsive]="true" >
  <p-column field="id" header="Identifiant" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="nom" header="Nom" styleClass="text-center"
            [sortable]="true">
  </p-column>
  <p-column field="prenom" header="Prenom" styleClass="text-center"
            [sortable]="true"></p-column>
  <p-column field="adresse.ville" header="Adresse" styleClass="text-center"
            [sortable]="true"></p-column>
</p-dataTable>
