<p-dataView [value]="cms?.infirmiers" [paginator]="true" [rows]="10"
            [lazy]="true" paginatorPosition="both">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">

        </div>
        <div class="ui-g-6 ui-md-4 ">
          <div style="position: relative"></div>
        </div>
      <div class="ui-g-6 ui-md-4" style="text-align:right">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
      </div>
    </div>
  </p-header>
  <ng-template let-infirmier pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img [src]="image(infirmier.photo)">
      </div>
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Id: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{infirmier.id}}</b></div>

          <div class="ui-g-2 ui-sm-6">Nom: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{infirmier.nom}}</b></div>

          <div class="ui-g-2 ui-sm-6">Prenom: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{infirmier.prenom}}</b></div>

          <div class="ui-g-2 ui-sm-6">Adress: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{infirmier.adresse.ville}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, infirmier)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-infirmier pTemplate="gridItem">
    <div class="ui-g-12 ui-md-3">
      {{infirmier.nom}}
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorleft" let-state>
    {{state.first}}
    <button type="button" pButton icon="fa-refresh"></button>
  </ng-template>
  <ng-template let-infirmier pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="infirmier.id" [style]="{'text-align':'center'}">
        <img [src]="image(infirmier.photo)">
        <div class="car-detail">{{infirmier.nom}} - {{infirmier.prenom}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, infirmier)" style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

