
<mat-tab-group>
  <mat-tab label="Accueil">
    <mat-card id="welcome">
      <h1>Bienvenue dans l'application de gestion du cabinet</h1>
    </mat-card>
  </mat-tab>

  <mat-tab label="Patients Affectés">
    <div class="esp" *ngFor="let infirmier of getInfirmiers()">
      <app-infirmiers  [cabinetService] = "cms" [infirmier]="infirmier"
                      (Desaffecter)="initCMS()">
        <div *ngFor="let patient of infirmier.patients"></div>
      </app-infirmiers>
    </div>
  </mat-tab>
  <mat-tab label="Patients Non Affectés">
    <div class="esp" *ngFor ="let patient of getPatients()">
      <app-patients [cabinetService] = "cms" [patient]="patient" [infirmiers]="getInfirmiers()"
      (affEmitter)="initCMS()"></app-patients>
    </div>
  </mat-tab>
</mat-tab-group>





